<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="w-100 text-center">ToDo List</h3>
      <h5 class="muted">Developed by:</h5>
      <ul>
        <li class="muted">Eduardo Antonio Barbosa Ortiz</li>
        <li class="muted">Raúl Rafael Carvajal Gutiérrez</li>
        <li class="muted">Oscar Abraham Ibañez Loreto</li>
      </ul>
    </div>
    <hr>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h4>Things To Do</h4>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" (click)="newTodo()"><mat-icon>note_add</mat-icon></button>
    </div>
  </div>
  <br>
  <div class="row">
    <!--AQUI EDUARDO-->
  </div>
</div>